.websit-area{
	background: #f3f4f6;
	.conent-page{
		display: block;
		float: left;
		margin-top: 100px;
		margin-bottom: 30px;
		width: 100%;
		position: relative;
		z-index: 999;
		h1{
			color: #fff;
		}
		.page-content{
			background: #fff;
			width: 100%;
			span{
				width: 100%;
				display: block;
				h1{
					border-radius: 0;
					font-size: 56px;
					padding: 10px 80px;
				}
			}
			a{
				display: inline-block;
				margin: 15px;
				img{
					display: block;			
				}	
			}
		}
	}
}