/***All plugins Reset***/
.slick-prev:before, .slick-next:before{
	background: #6f6f71;
	border-radius: 100%;
	font-family: FontAwesome;
	width: 25px;
	height: 25px;
	display: block;
	z-index: 999;
	padding: 3px 0;
}
.slick-prev{
	left: -40px;
}
.slick-next{
	right: -30px;
}
.slick-prev:before{
	content: '\f053';
}
.slick-next:before{
	content: '\f054';
	right: -30px;
}
.slick-initialized{
	padding: 0;
	border-radius: 0;
	border:0;
	.slick-list{
		padding: 0 !important;
		margin: 0 0 20px;
	}
}
.slick-dots li button:before{
	content: '\f111';
	font-family: FontAwesome;
}