.slider-area{
	.slider-image{
		img{
			width: 100%;
		}
	}
	.slider-content{
		h1{
			font-weight: 100;
			font-size: 58px;
			text-transform: uppercase;
			color: #fff;
		}
		p{
			font-weight: 300;
			font-size: 15px;
			color: #fff;
		}
	}
}